
body {
  padding: 0;
  margin-left: 1rem;
  font-family: sans-serif;
  background-color: rgb(52, 52, 52);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

a {
  color: rgb(102, 98, 98);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
